node-red/flows_cairo.json
[
  {
    "id": "1b964957.4135d7",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "6def246d.8c92cc",
    "type": "tab",
    "label": "Flow 2",
    "disabled": false,
    "info": ""
  },
  {
    "id": "db9fab73.0af118",
    "type": "ui_base",
    "theme": {
      "name": "theme-dark",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0094CE",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "Copperplate,Copperplate Gothic Light,fantasy",
        "edited": true,
        "reset": false
      },
      "customTheme": {
        "name": "Seelers",
        "default": "#4B7930",
        "baseColor": "#ffff00",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "reset": false
      },
      "themeState": {
        "base-color": {
          "default": "#097479",
          "value": "#097479",
          "edited": true
        },
        "page-titlebar-backgroundColor": {
          "value": "#097479",
          "edited": false
        },
        "page-backgroundColor": {
          "value": "#111111",
          "edited": true
        },
        "page-sidebar-backgroundColor": {
          "value": "#000000",
          "edited": false
        },
        "group-textColor": {
          "value": "#0eb8c0",
          "edited": false
        },
        "group-borderColor": {
          "value": "#555555",
          "edited": true
        },
        "group-backgroundColor": {
          "value": "#333333",
          "edited": true
        },
        "widget-textColor": {
          "value": "#eeeeee",
          "edited": true
        },
        "widget-backgroundColor": {
          "value": "#097479",
          "edited": true
        },
        "widget-borderColor": {
          "value": "#333333",
          "edited": true
        },
        "base-font": {
          "value": "Copperplate,Copperplate Gothic Light,fantasy"
        }
      }
    },
    "site": {
      "name": "Gambit House",
      "hideToolbar": "true",
      "allowSwipe": "true",
      "dateFormat": "DD/MM/YYYY",
      "sizes": {
        "sx": 34,
        "sy": 34,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "df246245.776bf",
    "type": "ui_tab",
    "z": "",
    "name": "Temperature",
    "icon": "dashboard",
    "order": 1
  },
  {
    "id": "c1f9717e.76ebd",
    "type": "ui_group",
    "z": "",
    "name": "Master",
    "tab": "df246245.776bf",
    "order": 8,
    "disp": true,
    "width": "4",
    "collapse": false
  },
  {
    "id": "b8e4dfbd.a19a9",
    "type": "ui_group",
    "z": "",
    "name": "Theater",
    "tab": "df246245.776bf",
    "order": 6,
    "disp": true,
    "width": "4",
    "collapse": false
  },
  {
    "id": "cb1d1a47.6512d8",
    "type": "ui_group",
    "z": "",
    "name": "Kitchen",
    "tab": "df246245.776bf",
    "order": 7,
    "disp": true,
    "width": "4",
    "collapse": false
  },
  {
    "id": "67c6f748.dda128",
    "type": "ui_group",
    "z": "",
    "name": "Living Room",
    "tab": "df246245.776bf",
    "order": 5,
    "disp": true,
    "width": "4",
    "collapse": false
  },
  {
    "id": "b073ef0d.cf889",
    "type": "ui_group",
    "z": "",
    "name": "Backyard",
    "tab": "df246245.776bf",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ba36e2e2.fecb6",
    "type": "ui_group",
    "z": "",
    "name": "Humidor",
    "tab": "df246245.776bf",
    "order": 10,
    "disp": true,
    "width": "4",
    "collapse": false
  },
  {
    "id": "577951dd.28501",
    "type": "ui_group",
    "z": "",
    "name": "Library",
    "tab": "df246245.776bf",
    "order": 9,
    "disp": true,
    "width": "4",
    "collapse": false
  },
  {
    "id": "f95fd1b0.bcfb2",
    "type": "ui_group",
    "z": "",
    "name": "Outdoor",
    "tab": "df246245.776bf",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "b5670a8f.7eb978",
    "type": "tls-config",
    "z": "",
    "name": "",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "",
    "keyname": "",
    "caname": "gd_bundle-g2-g1.crt",
    "verifyservercert": true
  },
  {
    "id": "e9d4166d.225428",
    "type": "ui_group",
    "z": "",
    "name": "Alarm",
    "tab": "df246245.776bf",
    "order": 11,
    "disp": false,
    "width": "24",
    "collapse": false
  },
  {
    "id": "a87d6f09.182e5",
    "type": "ui_group",
    "z": "",
    "name": "Pool",
    "tab": "df246245.776bf",
    "order": 3,
    "disp": false,
    "width": "12",
    "collapse": false
  },
  {
    "id": "d85ffdf8.bdcac",
    "type": "ui_group",
    "z": "",
    "name": "Spa",
    "tab": "df246245.776bf",
    "order": 4,
    "disp": false,
    "width": "12",
    "collapse": false
  },
  {
    "id": "fd05dc62.1372b",
    "type": "ui_gauge",
    "z": "1b964957.4135d7",
    "name": "Master Window Temp",
    "group": "f95fd1b0.bcfb2",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Master",
    "label": "°F",
    "format": "{{payload.master_bedroom_window.temp}}",
    "min": 0,
    "max": "120",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "78",
    "seg2": "100",
    "x": 580,
    "y": 100,
    "wires": [],
    "inputLabels": [
      "2"
    ]
  },
  {
    "id": "24d6019e.423dee",
    "type": "inject",
    "z": "1b964957.4135d7",
    "name": "30 Sec",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "30",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 80,
    "y": 620,
    "wires": [
      [
        "a3118281.9778c"
      ]
    ]
  },
  {
    "id": "3fa817c6.b2d018",
    "type": "ui_gauge",
    "z": "1b964957.4135d7",
    "name": "Master Thermostat",
    "group": "c1f9717e.76ebd",
    "order": 3,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "",
    "label": "°F",
    "format": "{{payload.master_bedroom_thermostat.temp}}",
    "min": 0,
    "max": "120",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "78",
    "seg2": "100",
    "x": 270,
    "y": 720,
    "wires": [],
    "inputLabels": [
      "2"
    ]
  },
  {
    "id": "4636d4fa.8ea9dc",
    "type": "ui_gauge",
    "z": "1b964957.4135d7",
    "name": "Front Door Temp",
    "group": "f95fd1b0.bcfb2",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Front Door",
    "label": "°F",
    "format": "{{payload.front_door.temp}}",
    "min": 0,
    "max": "120",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "78",
    "seg2": "100",
    "x": 570,
    "y": 140,
    "wires": [],
    "inputLabels": [
      "2"
    ]
  },
  {
    "id": "d44d52a0.fffca",
    "type": "ui_gauge",
    "z": "1b964957.4135d7",
    "name": "Back Yard Temperature",
    "group": "b073ef0d.cf889",
    "order": 1,
    "width": "0",
    "height": "0",
    "gtype": "gage",
    "title": "Temperature",
    "label": "°F",
    "format": "{{payload.back_yard.temp}}",
    "min": 0,
    "max": "120",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "78",
    "seg2": "100",
    "x": 290,
    "y": 100,
    "wires": [],
    "inputLabels": [
      "2"
    ]
  },
  {
    "id": "4d86cfe1.f4378",
    "type": "ui_gauge",
    "z": "1b964957.4135d7",
    "name": "Kitchen Thermastat",
    "group": "cb1d1a47.6512d8",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "",
    "label": "°F",
    "format": "{{payload.kitchen_thermostat.temp}}",
    "min": 0,
    "max": "120",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "78",
    "seg2": "100",
    "x": 810,
    "y": 840,
    "wires": [],
    "inputLabels": [
      "2"
    ]
  },
  {
    "id": "e0fa4a65.574648",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "cb1d1a47.6512d8",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "Kitchen AC",
    "label": "AC:",
    "format": "{{payload.kitchen_thermostat.cool_set}}",
    "layout": "row-spread",
    "x": 790,
    "y": 960,
    "wires": []
  },
  {
    "id": "c6d8d91c.eba0c8",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "cb1d1a47.6512d8",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "Kitchen Thermostat Mode",
    "label": "Mode:  ",
    "format": "{{payload.kitchen_thermostat.mode}}",
    "layout": "row-spread",
    "x": 830,
    "y": 880,
    "wires": []
  },
  {
    "id": "fa600c1.2b06cf",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "c1f9717e.76ebd",
    "order": 5,
    "width": 0,
    "height": 0,
    "name": "MasterThermostat Cool",
    "label": "AC:",
    "format": "{{payload.master_bedroom_thermostat.cool_set}}",
    "layout": "row-spread",
    "x": 290,
    "y": 800,
    "wires": []
  },
  {
    "id": "c05a9801.2bfea8",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "c1f9717e.76ebd",
    "order": 4,
    "width": 0,
    "height": 0,
    "name": "MasterThermostat Mode",
    "label": "Mode:  ",
    "format": "{{payload.master_bedroom_thermostat.mode}}",
    "layout": "row-spread",
    "x": 290,
    "y": 760,
    "wires": []
  },
  {
    "id": "557db860.306758",
    "type": "ui_gauge",
    "z": "1b964957.4135d7",
    "name": "Theater Temp",
    "group": "b8e4dfbd.a19a9",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "",
    "label": "°F",
    "format": "{{payload.theater.temp}}",
    "min": 0,
    "max": "120",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "78",
    "seg2": "100",
    "x": 540,
    "y": 860,
    "wires": [],
    "inputLabels": [
      "2"
    ]
  },
  {
    "id": "7e55bbcf.f7e5f4",
    "type": "ui_gauge",
    "z": "1b964957.4135d7",
    "name": "Living Room Temp",
    "group": "67c6f748.dda128",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "",
    "label": "°F",
    "format": "{{payload.living_room.temp}}",
    "min": 0,
    "max": "120",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "78",
    "seg2": "100",
    "x": 810,
    "y": 720,
    "wires": [],
    "inputLabels": [
      "2"
    ]
  },
  {
    "id": "38c12eac.7d2c92",
    "type": "ui_gauge",
    "z": "1b964957.4135d7",
    "name": "Theater Window Temp",
    "group": "f95fd1b0.bcfb2",
    "order": 3,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Theater",
    "label": "°F",
    "format": "{{payload.theater_window.temp}}",
    "min": 0,
    "max": "120",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "78",
    "seg2": "100",
    "x": 580,
    "y": 180,
    "wires": [],
    "inputLabels": [
      "2"
    ]
  },
  {
    "id": "8d0eca50.d091d8",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "cb1d1a47.6512d8",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "Kitchen Heat",
    "label": "Heat:",
    "format": "{{payload.kitchen_thermostat.heat_set}}",
    "layout": "row-spread",
    "x": 790,
    "y": 920,
    "wires": []
  },
  {
    "id": "5446802f.c1fb7",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "c1f9717e.76ebd",
    "order": 6,
    "width": 0,
    "height": 0,
    "name": "MasterThermostat Heat",
    "label": "Heat:",
    "format": "{{payload.master_bedroom_thermostat.heat_set}}",
    "layout": "row-spread",
    "x": 290,
    "y": 840,
    "wires": []
  },
  {
    "id": "a3118281.9778c",
    "type": "http request",
    "z": "1b964957.4135d7",
    "name": "home nginx",
    "method": "GET",
    "ret": "txt",
    "url": "https://home.evilminions.org/weather/data",
    "tls": "b5670a8f.7eb978",
    "x": 230,
    "y": 620,
    "wires": [
      [
        "b8148e3d.2eee2"
      ]
    ]
  },
  {
    "id": "b8148e3d.2eee2",
    "type": "json",
    "z": "1b964957.4135d7",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 370,
    "y": 620,
    "wires": [
      [
        "4d86cfe1.f4378",
        "c6d8d91c.eba0c8",
        "8d0eca50.d091d8",
        "e0fa4a65.574648",
        "557db860.306758",
        "3fa817c6.b2d018",
        "fa600c1.2b06cf",
        "5446802f.c1fb7",
        "c05a9801.2bfea8",
        "38c12eac.7d2c92",
        "4636d4fa.8ea9dc",
        "fd05dc62.1372b",
        "7e55bbcf.f7e5f4",
        "98d4e318.f1cff",
        "99b00741.d57788",
        "5f2e7106.e09cd",
        "4c000862.4290d8",
        "eabef76f.1ee928",
        "e3c1a538.798138",
        "e19d9e7d.84f4f",
        "2eae1b2e.38b104",
        "327bdca9.0f4cd4",
        "7ce70913.334c28",
        "2fec2ad7.f2f106",
        "cdd31a6e.ee8888",
        "88af6642.dfbd28",
        "8dfad68d.665128",
        "832cdea2.11fb",
        "c598128b.d8676",
        "651e9b3b.fc4e04",
        "c57d2d1b.67731",
        "62940743.31a9c8",
        "98e7890a.3d8bb8",
        "b70fdb15.289ce8",
        "34d907f3.4fd8e8",
        "7b6418ce.d81e68",
        "d99fc52a.d2f1d8",
        "47f67ea0.c1e83",
        "679c0d90.472484",
        "68ecae15.ebd0a",
        "8c8b17fa.cbf698",
        "f3befc2c.b9863",
        "9f861ea4.eaff8",
        "20dc7889.913778",
        "63d11ea2.8848b",
        "d44d52a0.fffca",
        "9d330324.dd92b",
        "e5526530.1f8298"
      ]
    ]
  },
  {
    "id": "7b6418ce.d81e68",
    "type": "debug",
    "z": "1b964957.4135d7",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 770,
    "y": 620,
    "wires": []
  },
  {
    "id": "4c000862.4290d8",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "b073ef0d.cf889",
    "order": 4,
    "width": "0",
    "height": "0",
    "name": "Back Yard Wind Direction",
    "label": "Direction",
    "format": "{{payload.back_yard.wind_direction}}",
    "layout": "row-spread",
    "x": 290,
    "y": 220,
    "wires": []
  },
  {
    "id": "98d4e318.f1cff",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "b073ef0d.cf889",
    "order": 5,
    "width": 0,
    "height": 0,
    "name": "Back yard Gusts",
    "label": "Gusts",
    "format": "{{payload.back_yard.wind_gust}}",
    "layout": "row-spread",
    "x": 260,
    "y": 260,
    "wires": []
  },
  {
    "id": "99b00741.d57788",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "b073ef0d.cf889",
    "order": 6,
    "width": 0,
    "height": 0,
    "name": "Back Yard Rain",
    "label": "Rain",
    "format": "{{payload.back_yard.rain_total}}",
    "layout": "row-spread",
    "x": 260,
    "y": 300,
    "wires": []
  },
  {
    "id": "5f2e7106.e09cd",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "b073ef0d.cf889",
    "order": 7,
    "width": 0,
    "height": 0,
    "name": "Back Yard Rain Rate",
    "label": "Rain Rate",
    "format": "{{payload.back_yard.rain_rate}}",
    "layout": "row-spread",
    "x": 280,
    "y": 340,
    "wires": []
  },
  {
    "id": "eabef76f.1ee928",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "b073ef0d.cf889",
    "order": 8,
    "width": 0,
    "height": 0,
    "name": "Back Yard Pressure",
    "label": "Pressure",
    "format": "{{payload.back_yard.pressure}}",
    "layout": "row-spread",
    "x": 270,
    "y": 380,
    "wires": []
  },
  {
    "id": "e3c1a538.798138",
    "type": "ui_gauge",
    "z": "1b964957.4135d7",
    "name": "Humidor Temp",
    "group": "ba36e2e2.fecb6",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "",
    "label": "°F",
    "format": "{{payload.humidor.temp}}",
    "min": "60",
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "80",
    "seg2": "85",
    "x": 800,
    "y": 1000,
    "wires": []
  },
  {
    "id": "e19d9e7d.84f4f",
    "type": "ui_gauge",
    "z": "1b964957.4135d7",
    "name": "Humidor Humidity",
    "group": "ba36e2e2.fecb6",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "wave",
    "title": "Humidity",
    "label": "%",
    "format": "{{payload.humidor.humidity}}",
    "min": "40",
    "max": "80",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "75",
    "seg2": "75",
    "x": 810,
    "y": 1040,
    "wires": []
  },
  {
    "id": "2eae1b2e.38b104",
    "type": "ui_gauge",
    "z": "1b964957.4135d7",
    "name": "Library Temp",
    "group": "577951dd.28501",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "",
    "label": "°F",
    "format": "{{payload.library.temp}}",
    "min": 0,
    "max": "120",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "80",
    "seg2": "85",
    "x": 530,
    "y": 720,
    "wires": []
  },
  {
    "id": "327bdca9.0f4cd4",
    "type": "ui_gauge",
    "z": "1b964957.4135d7",
    "name": "Back Yard Wind Speed",
    "group": "b073ef0d.cf889",
    "order": 3,
    "width": "12",
    "height": "8",
    "gtype": "donut",
    "title": "Wind Speed",
    "label": "mph",
    "format": "{{payload.back_yard.wind_speed}}",
    "min": 0,
    "max": "35",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "15",
    "seg2": "30",
    "x": 290,
    "y": 180,
    "wires": []
  },
  {
    "id": "7ce70913.334c28",
    "type": "ui_gauge",
    "z": "1b964957.4135d7",
    "name": "Library Humidity",
    "group": "577951dd.28501",
    "order": 0,
    "width": 0,
    "height": 0,
    "gtype": "wave",
    "title": "Humidity",
    "label": "%",
    "format": "{{payload.library.humidity}}",
    "min": "0",
    "max": "80",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "50",
    "seg2": "",
    "x": 540,
    "y": 760,
    "wires": []
  },
  {
    "id": "2fec2ad7.f2f106",
    "type": "ui_gauge",
    "z": "1b964957.4135d7",
    "name": "Back Yard Humidity",
    "group": "b073ef0d.cf889",
    "order": 2,
    "width": "12",
    "height": "6",
    "gtype": "wave",
    "title": "Humidity",
    "label": "%",
    "format": "{{payload.back_yard.humidity}}",
    "min": "0",
    "max": "50",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "20",
    "seg2": "40",
    "x": 270,
    "y": 140,
    "wires": []
  },
  {
    "id": "cdd31a6e.ee8888",
    "type": "ui_gauge",
    "z": "1b964957.4135d7",
    "name": "Theater Humidity",
    "group": "b8e4dfbd.a19a9",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "wave",
    "title": "Humidity",
    "label": "%",
    "format": "{{payload.theater.humidity}}",
    "min": "0",
    "max": "80",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "75",
    "seg2": "75",
    "x": 550,
    "y": 900,
    "wires": []
  },
  {
    "id": "8dfad68d.665128",
    "type": "ui_gauge",
    "z": "1b964957.4135d7",
    "name": "",
    "group": "d85ffdf8.bdcac",
    "order": 4,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Spa",
    "label": "°F",
    "format": "{{payload.spa.temp}}",
    "min": 0,
    "max": "110",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "90",
    "seg2": "105",
    "x": 230,
    "y": 480,
    "wires": []
  },
  {
    "id": "88af6642.dfbd28",
    "type": "ui_gauge",
    "z": "1b964957.4135d7",
    "name": "Pool",
    "group": "a87d6f09.182e5",
    "order": 4,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Pool",
    "label": "°F",
    "format": "{{payload.pool.temp}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "90",
    "seg2": "90",
    "x": 230,
    "y": 440,
    "wires": []
  },
  {
    "id": "832cdea2.11fb",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "e9d4166d.225428",
    "order": 11,
    "width": "24",
    "height": "1",
    "name": "Generated Time",
    "label": "",
    "format": "<font size = \"5\">{{payload.date_generated}}</font>",
    "layout": "row-center",
    "x": 380,
    "y": 1380,
    "wires": []
  },
  {
    "id": "c598128b.d8676",
    "type": "change",
    "z": "1b964957.4135d7",
    "name": "OnOffToBool",
    "rules": [
      {
        "t": "change",
        "p": "payload.library.fan",
        "pt": "msg",
        "from": "On",
        "fromt": "str",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "change",
        "p": "payload.library.fan",
        "pt": "msg",
        "from": "Off",
        "fromt": "str",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 380,
    "wires": [
      [
        "5732b927.ba6408"
      ]
    ]
  },
  {
    "id": "5732b927.ba6408",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "f95fd1b0.bcfb2",
    "order": 7,
    "width": 0,
    "height": 0,
    "name": "Library Fan",
    "label": "Library Fan:",
    "format": "<font size = \"5\" color={{payload.library.fan ? 'lime' : 'grey'}} ><i class=\"fa fa-circle\"></i></font>",
    "layout": "row-spread",
    "x": 790,
    "y": 380,
    "wires": []
  },
  {
    "id": "651e9b3b.fc4e04",
    "type": "ui_gauge",
    "z": "1b964957.4135d7",
    "name": "Living Room Humidity",
    "group": "67c6f748.dda128",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "wave",
    "title": "Humidity",
    "label": "%",
    "format": "{{payload.living_room.humidity}}",
    "min": "0",
    "max": "80",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "75",
    "seg2": "75",
    "x": 820,
    "y": 760,
    "wires": []
  },
  {
    "id": "c57d2d1b.67731",
    "type": "change",
    "z": "1b964957.4135d7",
    "name": "OnOffToBool",
    "rules": [
      {
        "t": "change",
        "p": "payload.front_door.fan",
        "pt": "msg",
        "from": "On",
        "fromt": "str",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "change",
        "p": "payload.front_door.fan",
        "pt": "msg",
        "from": "Off",
        "fromt": "str",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 340,
    "wires": [
      [
        "efd735f1.e21f58"
      ]
    ]
  },
  {
    "id": "efd735f1.e21f58",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "f95fd1b0.bcfb2",
    "order": 8,
    "width": 0,
    "height": 0,
    "name": "Office Fan",
    "label": "Office Fan:",
    "format": "<font size = \"5\" color={{payload.front_door.fan ? 'lime' : 'grey'}} ><i class=\"fa fa-circle\"></i></font>",
    "layout": "row-spread",
    "x": 790,
    "y": 340,
    "wires": []
  },
  {
    "id": "62940743.31a9c8",
    "type": "change",
    "z": "1b964957.4135d7",
    "name": "OnOffToBool",
    "rules": [
      {
        "t": "change",
        "p": "payload.living_room.fan",
        "pt": "msg",
        "from": "On",
        "fromt": "str",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "change",
        "p": "payload.living_room.fan",
        "pt": "msg",
        "from": "Off",
        "fromt": "str",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 300,
    "wires": [
      [
        "8723d75b.dcb2e8"
      ]
    ]
  },
  {
    "id": "8723d75b.dcb2e8",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "f95fd1b0.bcfb2",
    "order": 6,
    "width": 0,
    "height": 0,
    "name": "Living Room Fan",
    "label": "Living Room Fan:",
    "format": "<font size = \"5\" color={{payload.living_room.fan ? 'lime' : 'grey'}} ><i class=\"fa fa-circle\"></i></font>",
    "layout": "row-spread",
    "x": 810,
    "y": 300,
    "wires": []
  },
  {
    "id": "98e7890a.3d8bb8",
    "type": "change",
    "z": "1b964957.4135d7",
    "name": "OnOffToBool",
    "rules": [
      {
        "t": "change",
        "p": "payload.master_bedroom_window.fan",
        "pt": "msg",
        "from": "On",
        "fromt": "str",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "change",
        "p": "payload.master_bedroom_window.fan",
        "pt": "msg",
        "from": "Off",
        "fromt": "str",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 260,
    "wires": [
      [
        "485cff89.30ecd"
      ]
    ]
  },
  {
    "id": "485cff89.30ecd",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "f95fd1b0.bcfb2",
    "order": 5,
    "width": 0,
    "height": 0,
    "name": "Master Bedroom Fan",
    "label": "Master Bedroom Fan:",
    "format": "<font size = \"5\" color={{payload.master_bedroom_window.fan ? 'lime' : 'grey'}} ><i class=\"fa fa-circle\"></i></font>",
    "layout": "row-spread",
    "x": 820,
    "y": 260,
    "wires": []
  },
  {
    "id": "b70fdb15.289ce8",
    "type": "change",
    "z": "1b964957.4135d7",
    "name": "OnOffToBool",
    "rules": [
      {
        "t": "change",
        "p": "payload.theater_window.fan",
        "pt": "msg",
        "from": "On",
        "fromt": "str",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "change",
        "p": "payload.theater_window.fan",
        "pt": "msg",
        "from": "Off",
        "fromt": "str",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 220,
    "wires": [
      [
        "1fa9d358.e24eed"
      ]
    ]
  },
  {
    "id": "1fa9d358.e24eed",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "f95fd1b0.bcfb2",
    "order": 4,
    "width": 0,
    "height": 0,
    "name": "Theater Fan",
    "label": "Theater Fan:",
    "format": "<font size = \"5\" color={{payload.theater_window.fan ? 'lime' : 'grey'}} ><i class=\"fa fa-circle\"></i></font>",
    "layout": "row-spread",
    "x": 790,
    "y": 220,
    "wires": []
  },
  {
    "id": "8c8b17fa.cbf698",
    "type": "change",
    "z": "1b964957.4135d7",
    "name": "ZoneClosedOffice",
    "rules": [
      {
        "t": "change",
        "p": "payload.alarm.offices",
        "pt": "msg",
        "from": "0",
        "fromt": "str",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "change",
        "p": "payload.alarm.offices",
        "pt": "msg",
        "from": "1",
        "fromt": "str",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 1180,
    "wires": [
      [
        "e347e083.f4423"
      ]
    ]
  },
  {
    "id": "e347e083.f4423",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "e9d4166d.225428",
    "order": 10,
    "width": "4",
    "height": "1",
    "name": "Offices",
    "label": "Offices:",
    "format": "<font size = \"4\" color={{payload.alarm.offices ? 'lime' : 'grey'}} ><i class=\"fa fa-circle\"></i></font>",
    "layout": "row-spread",
    "x": 470,
    "y": 1180,
    "wires": []
  },
  {
    "id": "68ecae15.ebd0a",
    "type": "change",
    "z": "1b964957.4135d7",
    "name": "ZoneClosedMaster",
    "rules": [
      {
        "t": "change",
        "p": "payload.alarm.master",
        "pt": "msg",
        "from": "0",
        "fromt": "str",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "change",
        "p": "payload.alarm.master",
        "pt": "msg",
        "from": "1",
        "fromt": "str",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 1140,
    "wires": [
      [
        "8999ee05.911bc"
      ]
    ]
  },
  {
    "id": "8999ee05.911bc",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "e9d4166d.225428",
    "order": 3,
    "width": "4",
    "height": "1",
    "name": "Master Bed Room",
    "label": "Master Bedroom:",
    "format": "<font size = \"4\" color={{payload.alarm.master ? 'lime' : 'grey'}} ><i class=\"fa fa-circle\"></i></font>",
    "layout": "row-spread",
    "x": 510,
    "y": 1140,
    "wires": []
  },
  {
    "id": "679c0d90.472484",
    "type": "change",
    "z": "1b964957.4135d7",
    "name": "ZoneClosedLivingGreat",
    "rules": [
      {
        "t": "change",
        "p": "payload.alarm.living_great",
        "pt": "msg",
        "from": "0",
        "fromt": "str",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "change",
        "p": "payload.alarm.living_great",
        "pt": "msg",
        "from": "1",
        "fromt": "str",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 290,
    "y": 1100,
    "wires": [
      [
        "4ed384c.2a5477c"
      ]
    ]
  },
  {
    "id": "4ed384c.2a5477c",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "e9d4166d.225428",
    "order": 9,
    "width": "4",
    "height": "1",
    "name": "Living Great Room",
    "label": "Living Rm: Great Rm:",
    "format": "<font size = \"4\" color={{payload.alarm.living_great ? 'lime' : 'grey'}} ><i class=\"fa fa-circle\"></i></font>",
    "layout": "row-spread",
    "x": 510,
    "y": 1100,
    "wires": []
  },
  {
    "id": "47f67ea0.c1e83",
    "type": "change",
    "z": "1b964957.4135d7",
    "name": "ZoneClosedSlider",
    "rules": [
      {
        "t": "change",
        "p": "payload.alarm.sliding_glass_door",
        "pt": "msg",
        "from": "0",
        "fromt": "str",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "change",
        "p": "payload.alarm.sliding_glass_door",
        "pt": "msg",
        "from": "1",
        "fromt": "str",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 270,
    "y": 1060,
    "wires": [
      [
        "51bf8fdf.5c1a3"
      ]
    ]
  },
  {
    "id": "51bf8fdf.5c1a3",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "e9d4166d.225428",
    "order": 2,
    "width": "4",
    "height": "1",
    "name": "Sliding Glass Door",
    "label": "Sliding Glass:",
    "format": "<font size = \"4\" color={{payload.alarm.sliding_glass_door ? 'lime' : 'grey'}} ><i class=\"fa fa-circle\"></i></font>",
    "layout": "row-spread",
    "x": 510,
    "y": 1060,
    "wires": []
  },
  {
    "id": "d99fc52a.d2f1d8",
    "type": "change",
    "z": "1b964957.4135d7",
    "name": "ZoneClosedFrontDoor",
    "rules": [
      {
        "t": "change",
        "p": "payload.alarm.front_garage_door",
        "pt": "msg",
        "from": "0",
        "fromt": "str",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "change",
        "p": "payload.alarm.front_garage_door",
        "pt": "msg",
        "from": "1",
        "fromt": "str",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 280,
    "y": 1020,
    "wires": [
      [
        "10b5e0fa.babf0f"
      ]
    ]
  },
  {
    "id": "10b5e0fa.babf0f",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "e9d4166d.225428",
    "order": 4,
    "width": "4",
    "height": "1",
    "name": "Front Entry",
    "label": "Front Door:",
    "format": "<font size = \"4\" color={{payload.alarm.front_garage_door ? 'lime' : 'grey'}} ><i class=\"fa fa-circle\"></i></font>",
    "layout": "row-spread",
    "x": 490,
    "y": 1020,
    "wires": []
  },
  {
    "id": "9f861ea4.eaff8",
    "type": "change",
    "z": "1b964957.4135d7",
    "name": "ZoneClosedBikeGarage",
    "rules": [
      {
        "t": "change",
        "p": "payload.alarm.bike_garage",
        "pt": "msg",
        "from": "0",
        "fromt": "str",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "change",
        "p": "payload.alarm.bike_garage",
        "pt": "msg",
        "from": "1",
        "fromt": "str",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 290,
    "y": 1260,
    "wires": [
      [
        "cfefee9c.a2c11"
      ]
    ]
  },
  {
    "id": "cfefee9c.a2c11",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "e9d4166d.225428",
    "order": 12,
    "width": "4",
    "height": "1",
    "name": "Bike Garage",
    "label": "Bike Garage:",
    "format": "<font size = \"4\" color={{payload.alarm.bike_garage ? 'lime' : 'grey'}} ><i class=\"fa fa-circle\"></i></font>",
    "layout": "row-spread",
    "x": 490,
    "y": 1260,
    "wires": []
  },
  {
    "id": "f3befc2c.b9863",
    "type": "change",
    "z": "1b964957.4135d7",
    "name": "ZoneClosedWestWing",
    "rules": [
      {
        "t": "change",
        "p": "payload.alarm.west_wing",
        "pt": "msg",
        "from": "0",
        "fromt": "str",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "change",
        "p": "payload.alarm.west_wing",
        "pt": "msg",
        "from": "1",
        "fromt": "str",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 280,
    "y": 1220,
    "wires": [
      [
        "3b5ed9f1.812006"
      ]
    ]
  },
  {
    "id": "3b5ed9f1.812006",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "e9d4166d.225428",
    "order": 8,
    "width": "4",
    "height": "1",
    "name": "West Wing",
    "label": "West Wing:",
    "format": "<font size = \"4\" color={{payload.alarm.west_wing ? 'lime' : 'grey'}} ><i class=\"fa fa-circle\"></i></font>",
    "layout": "row-spread",
    "x": 490,
    "y": 1220,
    "wires": []
  },
  {
    "id": "20dc7889.913778",
    "type": "change",
    "z": "1b964957.4135d7",
    "name": "DoorClosedMainGarage",
    "rules": [
      {
        "t": "change",
        "p": "payload.alarm.main_garage",
        "pt": "msg",
        "from": "0",
        "fromt": "str",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "change",
        "p": "payload.alarm.main_garage",
        "pt": "msg",
        "from": "1",
        "fromt": "str",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 290,
    "y": 1300,
    "wires": [
      [
        "31b8dbad.8205a4"
      ]
    ]
  },
  {
    "id": "31b8dbad.8205a4",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "e9d4166d.225428",
    "order": 5,
    "width": "4",
    "height": "1",
    "name": "Main Garage",
    "label": "Main Garage:",
    "format": "<font size = \"4\" color={{payload.alarm.main_garage ? 'lime' : 'grey'}} ><i class=\"fa fa-circle\"></i></font>",
    "layout": "row-spread",
    "x": 490,
    "y": 1300,
    "wires": []
  },
  {
    "id": "63d11ea2.8848b",
    "type": "change",
    "z": "1b964957.4135d7",
    "name": "DoorClosedMCGarage",
    "rules": [
      {
        "t": "change",
        "p": "payload.alarm.mc_garage",
        "pt": "msg",
        "from": "0",
        "fromt": "str",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "change",
        "p": "payload.alarm.mc_garage",
        "pt": "msg",
        "from": "1",
        "fromt": "str",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 280,
    "y": 1340,
    "wires": [
      [
        "f72b8378.4fe3"
      ]
    ]
  },
  {
    "id": "f72b8378.4fe3",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "e9d4166d.225428",
    "order": 6,
    "width": "4",
    "height": "1",
    "name": "Motorcycle Garage",
    "label": "MC Garage:",
    "format": "<font size = \"4\" color={{payload.alarm.mc_garage ? 'lime' : 'grey'}} ><i class=\"fa fa-circle\"></i></font>",
    "layout": "row-spread",
    "x": 510,
    "y": 1340,
    "wires": []
  },
  {
    "id": "34d907f3.4fd8e8",
    "type": "change",
    "z": "1b964957.4135d7",
    "name": "Alarm Status",
    "rules": [
      {
        "t": "change",
        "p": "payload.alarm.status",
        "pt": "msg",
        "from": "0",
        "fromt": "num",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "change",
        "p": "payload.alarm.status",
        "pt": "msg",
        "from": "1",
        "fromt": "str",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "change",
        "p": "payload.alarm.status",
        "pt": "msg",
        "from": "2",
        "fromt": "str",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 250,
    "y": 980,
    "wires": [
      [
        "e08c396a.b3cfe8"
      ]
    ]
  },
  {
    "id": "e08c396a.b3cfe8",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "e9d4166d.225428",
    "order": 1,
    "width": "4",
    "height": "1",
    "name": "Armed",
    "label": "Status:",
    "format": "<font size = \"4\" color={{payload.alarm.status ? 'red' : 'grey'}} ><i class=\"fa fa-circle\"></i></font>",
    "layout": "row-spread",
    "x": 470,
    "y": 980,
    "wires": []
  },
  {
    "id": "64c0ee30.158db",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "a87d6f09.182e5",
    "order": 0,
    "width": 0,
    "height": 0,
    "name": "Pool Lights",
    "label": "Lights:",
    "format": "<font size = \"5\" color={{payload.pool.light ? 'lime' : 'grey'}} ><i class=\"fa fa-circle\"></i></font>",
    "layout": "row-spread",
    "x": 790,
    "y": 440,
    "wires": []
  },
  {
    "id": "4f28f53f.ffed2c",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "d85ffdf8.bdcac",
    "order": 0,
    "width": 0,
    "height": 0,
    "name": "Therapy",
    "label": "Therapy:",
    "format": "<font size = \"5\" color={{payload.spa.pump ? 'lime' : 'grey'}} ><i class=\"fa fa-circle\"></i></font>",
    "layout": "row-spread",
    "x": 780,
    "y": 480,
    "wires": []
  },
  {
    "id": "eac5af4c.3ae97",
    "type": "ui_text",
    "z": "1b964957.4135d7",
    "group": "e9d4166d.225428",
    "order": 7,
    "width": "4",
    "height": "1",
    "name": "Blank",
    "label": "",
    "format": "",
    "layout": "row-spread",
    "x": 230,
    "y": 1380,
    "wires": []
  },
  {
    "id": "9d330324.dd92b",
    "type": "change",
    "z": "1b964957.4135d7",
    "name": "OnOffToBool",
    "rules": [
      {
        "t": "change",
        "p": "payload.pool.light",
        "pt": "msg",
        "from": "On",
        "fromt": "str",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "change",
        "p": "payload.pool.light",
        "pt": "msg",
        "from": "Off",
        "fromt": "str",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 440,
    "wires": [
      [
        "64c0ee30.158db"
      ]
    ]
  },
  {
    "id": "e5526530.1f8298",
    "type": "change",
    "z": "1b964957.4135d7",
    "name": "OnOffToBool",
    "rules": [
      {
        "t": "change",
        "p": "payload.spa.pump",
        "pt": "msg",
        "from": "On",
        "fromt": "str",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "change",
        "p": "payload.spa.pump",
        "pt": "msg",
        "from": "Off",
        "fromt": "str",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 480,
    "wires": [
      [
        "4f28f53f.ffed2c"
      ]
    ]
  }
]